
.card-img{
  width: 100px;
  height: 100px;
}
.card{
  border: 1px solid hsla(0, 0%, 34%, 0.393);
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  max-width: 200px;
  text-align: center;
  display: inline-block;
  transition: 0.5s ease;
}
.title{
  color: hsla(0, 0%, 14%, 0.913);
  font-family: arial, sans-serif;
}
.desc{
  font-size: 16px;
}
.btn{
  background-color: green;
  color: white;
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.5s ease;
}
.btn:hover{
  background-color: rgb(79, 17, 237);
}
.card:hover{
  background-color: rgb(211, 211, 211);

}